<tr>
  <td align="center" valign="top">
    <a alias="socialTwitter" href="%%=RedirectTo(@PUBTWITTER)=%%" style="display:block;"><img src="http://image.exct.net/lib/fe6215707d6304757115/m/4/DS_Twitter_Lite.png" width="36" height="36" border="0" style="display:inline; font-family:Arial, sans-serif; text-align:left;" /></a>
  </td>
  <td align="center" valign="top">
    <a alias="socialFacebook" href="%%=RedirectTo(@PUBFB)=%%" style="display:block;"><img src="http://image.exct.net/lib/fe6215707d6304757115/m/4/DS_Facebook_Lite.png" width="36" height="36" border="0" style="display:inline; font-family:Arial, sans-serif; text-align:left;" /></a>
  </td>
  <td align="center" valign="top">
    <a alias="socialRSS" href="%%=RedirectTo(@PUBRSS)=%%" style="display:block;"><img src="http://image.exct.net/lib/fe6215707d6304757115/m/4/DS_RSS_Lite.png" width="36" height="36" border="0" style="display:inline; font-family:Arial, sans-serif; text-align:left;" /></a>
  </td>
  <td align="center" valign="top">
    <a alias="socialCSEMAIL" href="mailto:%%=v(@CSEMAIL)=%%" style="display:block;"><img src="http://image.exct.net/lib/fe6215707d6304757115/m/4/DS_Mail_Lite.png" width="36" height="36" border="0" style="display:inline; font-family:Arial, sans-serif; text-align:left;" /></a>
  </td>
</tr>